html {
  --background: #2b1c12;
  --background-alt: #fff6e6;
  --primary-contrast: #90b695;
  --primary: #658db8;
  --accent: #fca05d;
  --color: #f1f7ed;
  /* --danger: #c52b2b; */
  --shadow: #546a76;
  --border: #546a76;

  /* @media (prefers-color-scheme: dark) {
    --background: #001b2e;
    --background-alt: #07314e;
    --primary: #84cbf3;
    --primary-contrast: #001b2e;
    --accent: #ffd9be;
    --color: #ffffff;
    --danger: #fdaeae;
    --shadow: #3e5d70;
    --border: #8b9398;

  } */

  color: var(--color);
  background: var(--background);
  font: var(--font);
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:visited {
  color: var(--primary-contrast)
}

a:hover {
  text-decoration: underline;
}

/* 
    css from https://www.cssmakeovers.com/patterns/three-columns-long-sidebars/ 
    I"ll made some changes, and will continue to adapt and change more as I go along.
*/

/* Sections of Layout
-------------------------------------- */
/* Layout is stacked vertically by default (for narrower viewports), so give some breathing room between the sections. */
.container>* {
  margin-bottom: 10px;
}

/* Now let's apply grid for wider viewports. */
@media screen and (min-width: 40em) {
  .container>* {
    margin-bottom: 0;
  }

  /* Define the grid */
  .container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 10px 10px;
  }

  /* Place items on the grid */
  .header {
    grid-column: 1 / -1;
  }

  .sidebar {
    grid-row-end: span 2;
  }

  .footer {
    font-size: .9rem;
  }

  .content {
    grid-column: 1;
    width: 80%;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
}

.container>* {
  padding: 1em;
}

pre {
  padding: .5rem 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  ul {
    border: solid .15rem var(--border);
    border-radius: 6px;
    margin: 1em;
    list-style-type: none;
  }

  li {
    padding-top: .25rem;
  }

}