<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="{{ get_url(path='css/style.css', trailing_slash=false) | safe }}" rel="stylesheet">
    <title>Antidale</title>
</head>

<body class="container">
    <header class="header">
        <h1>Antidale.com</h1>
    </header>

    <main class="content">
        {% block content %} {% endblock %}
    </main>
    <section class="sidebar">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="{{ get_url(path='@/blog/_index.md') }}">Posts</a>
            </li>
        </ul>
    </section>
</body>
<footer class="footer">
    Site built with <a href="https://www.getzola.org/documentation/content/overview/">Zola</a>.
    <p>
        &copy; 2024 by me.
    </p>
</footer>

</html>