<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="{{ get_url(path='css/style.css', trailing_slash=false) | safe }}" rel="stylesheet">
    <title>Antidale</title>
</head>

<body>
    <header>
        <div class="flex-container">
            <h1>Antidale.com</h1>
            <div class="item-end">
                <a href="/">Home</a>
                <a href="{{ get_url(path='@/blog/_index.md') }}">Posts</a>
            </div>
        </div>

    </header>
    <section class="section">
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </section>
</body>

</html>